xml/circuito.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.uniovi.es"
  xmlns="http://www.uniovi.es"
  elementFormDefault="qualified">

  <!-- Unidades para longitudes lineales -->
  <xs:simpleType name="unidadesLineales">
    <xs:restriction base="xs:string">
      <xs:enumeration value="metros" />
      <xs:enumeration value="kilometros" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unidades para altitud -->
  <xs:simpleType name="unidadesAltitud">
    <xs:restriction base="xs:string">
      <xs:enumeration value="metros" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unidades para coordenadas angulares -->
  <xs:simpleType name="unidadesGrados">
    <xs:restriction base="xs:string">
      <xs:enumeration value="grados" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Posiciones del top 3 -->
  <xs:simpleType name="puestoTop3">
    <xs:restriction base="xs:unsignedByte">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="3" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="circuito">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="extension">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:unsignedInt">
                <xs:attribute name="unidades" type="unidadesLineales" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="anchura">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:unsignedInt">
                <xs:attribute name="unidades" type="unidadesLineales" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="bibliografia">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="3" maxOccurs="unbounded" name="referencia">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="enlace" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="galeriaFotos">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="5" name="foto">
                <xs:complexType>
                  <xs:attribute name="enlace" type="xs:string" use="required" />
                  <xs:attribute name="alt" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="galeriaVideos">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="3" name="video">
                <xs:complexType>
                  <xs:attribute name="enlace" type="xs:string" use="required" />
                  <xs:attribute name="descripcion" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="coordenadas">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="longitud">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:float">
                      <xs:attribute name="unidades" type="unidadesGrados" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="latitud">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:float">
                      <xs:attribute name="unidades" type="unidadesGrados" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="altitud">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:unsignedInt">
                      <xs:attribute name="unidades" type="unidadesAltitud" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="puntos">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="tramo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="distancia">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:unsignedInt">
                            <xs:attribute name="unidades" type="unidadesLineales" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="coordenadas">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="longitud">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:decimal">
                                  <xs:attribute name="unidades" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="latitud">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:decimal">
                                  <xs:attribute name="unidades" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="altitud">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:unsignedByte">
                                  <xs:attribute name="unidades" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="sector" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="vencedor">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="duracion">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:duration">
                      <xs:attribute name="unidades" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="nombre" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="top3">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="piloto" minOccurs="3" maxOccurs="3">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="puesto" type="puestoTop3" use="required" />
                      <xs:attribute name="puntos" type="xs:unsignedShort" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="nombre" type="xs:string" use="required" />
      <xs:attribute name="fecha2025" type="xs:date" use="required" />
      <xs:attribute name="horaInicio" type="xs:time" use="required" />
      <xs:attribute name="nVueltas" type="xs:integer" use="required" />
      <xs:attribute name="pais" type="xs:string" use="required" />
      <xs:attribute name="localidad" type="xs:string" use="required" />
      <xs:attribute name="patrocinador" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>